@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.baslik, #cars-section h1, #slogan h2, #slogan h1, #exteior h1, #interior h1 {
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  letter-spacing: 3px;
}

.hover, #interior button, header nav a:hover {
  cursor: pointer;
  transition: all 0.5s;
}

#exteior, #interior {
  height: 50vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
}
#exteior p, #interior p {
  max-width: 500px;
  text-align: center;
  font-size: 24px;
}
#exteior h1, #interior h1 {
  font-size: 26px;
}
#exteior button, #interior button {
  padding: 20px 40px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-weight: 700;
  letter-spacing: 3px;
}
#exteior button:hover, #interior button:hover {
  background-color: white;
  color: #252a34;
}

#cars-section button, #slogan button {
  padding: 20px 50px;
  color: #252a34;
  background-color: transparent;
  border: 2px solid #252a34;
  font-weight: 700;
  letter-spacing: 3px;
  transition: background-color 0.3s;
}
#cars-section button:hover, #slogan button:hover {
  background-color: #252a34;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

body {
  background-color: #eaeaea;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #252a34;
  gap: 10px;
  padding: 20px 0;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #252a34;
  padding: 5px;
  transition: color 0.3s, text-shadow 0.3s;
  white-space: nowrap;
}
header nav a:hover {
  color: #e50000 !important;
  text-shadow: 2px 2px 20px #e50000;
}
header #nav-left a {
  font-size: 15px;
  font-weight: 600;
  border-right: 1px solid;
}
header #nav-left img {
  max-width: 50px;
}
header #nav-right a {
  font-size: 14px;
  color: gray;
}

/* Karsilama alani */
.hero {
  min-height: calc(100vh - 68px);
  padding: 50px;
  background: linear-gradient(rgb(215, 215, 215) 60%, #eaeaea 40%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .hero {
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  .hero {
    align-items: center;
    flex-direction: column;
  }
}

#slogan {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  gap: 50px;
}
#slogan h1 {
  font-size: 30px;
}
#slogan p {
  text-align: center;
  font-size: 20px;
}
#slogan img {
  max-width: 200px;
  mix-blend-mode: darken;
}
#slogan h2 {
  font-size: 40px;
}
#slogan button {
  transition: background-color 0.3s;
}

#images {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
#images-main {
  max-width: 700px;
}
@media (max-width: 1000px) {
  #images-main {
    max-width: 500px;
  }
}
#images-second {
  max-width: 400px;
  mix-blend-mode: darken;
}
#images p {
  max-width: 500px;
  text-align: center;
}

#interior {
  background: radial-gradient(circle, transparent, rgb(36, 34, 34)), url(./img/interior.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#interior button {
  transition: background-color 0.3s;
}

#cars-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 100px 0;
}
#cars-section h1 {
  text-align: center;
}
#cars-section .r35 img {
  max-width: 340px;
}
#cars-section .cars {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 1000px) {
  #cars-section .cars {
    flex-direction: column;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  #cars-section .cars {
    gap: 30px;
  }
}
#cars-section .cars-card {
  width: 400px;
}
#cars-section .cars-card img {
  width: 100%;
  mix-blend-mode: darken;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1001px) and (max-width: 1200px) {
  #cars-section .cars-card {
    gap: 30px;
    width: 300px;
  }
}
#cars-section .cars-card h4 {
  text-align: center;
  white-space: nowrap;
}
#cars-section button {
  text-align: center;
}

#exteior {
  background: radial-gradient(circle, transparent, rgb(0, 0, 0)), url(./img/exterior-4.jpg);
  background-size: cover;
  background-position: center;
}

footer {
  background-color: black;
  border-top: 2px solid #e50000;
  display: flex;
  gap: 40px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
footer img {
  max-width: 200px;
}
footer p {
  color: white;
}/*# sourceMappingURL=style.css.map */